{% extends "home/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% block home%}

    <form action="{% url 'home:question' %}" method="POST">
        {% csrf_token %}    
        <div>
            <select name="search_schema">
                <option value="" selected>데이터 선택</option>
                <option value="book_table">book_table</option>
                <option value="buyc">buyc</option>
                <option value="information">information</option>
                <option value="lib_date">lib_date</option>
                <option value="lib_s_a">lib_s_a</option>
                <option value="lib_table">lib_table</option>
                <option value="lib_info">lib information</option>
                <option value="period">period</option>
                <option value="reputation">reputation</option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-secondary" style="margin-right:5px;">선택</button>
    </form>
{% endblock home %}
