{% extends "home/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% block home%}

    <form action="{% url 'home:question' %}" method="POST">
        {% csrf_token %}    
        <div>
            <select name="search_schema">
                <option value="" selected>데이터 선택</option>
                <option value="book_table">book_table</option>
                <option value="buyc">buyc</option>
                <option value="information">information</option>
                <option value="lib_date">lib_date</option>
                <option value="lib_s_a">lib_s_a</option>
                <option value="lib_table">lib_table</option>
                <option value="lib_info">lib information</option>
                <option value="period">period</option>
                <option value="reputation">reputation</option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-secondary" style="margin-right:5px;">선택</button>
    </form>
    <div class='tableauPlaceholder' id='viz1670511945826' style='position: relative'>
        <noscript>
            <a href='#'>
                <img alt='CP2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;7N&#47;7N343HKXK&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='path' value='shared&#47;7N343HKXK' /> 
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;7N&#47;7N343HKXK&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='ko-KR' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1670511945826');
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        vizElement.style.width='1016px';vizElement.style.height='991px';                    
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>


{% endblock home %}
