{% extends "home/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

{% block result %}
    <form action="{% url 'home:resultLT' %}" method="">
        <div class="container my-3">
            <table class="table">
                <thead>
                    <tr class="thead-dark">
                        <th>index</th><th>제목</th><th>출판사</th><th>저자</th>
                    </tr>
                </thead>
                <tbody>
                {% for lib_table in libtables %}
                <tr>
                    <td>{{ lib_table.index }}</td>
                    <td>{{ lib_table.title }}</td>
                    <td>{{ lib_table.pub }}</td>
                    <td>{{ lib_table.author  }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock result %}