{% extends "home/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

{% block result %}
    <form action="{% url 'home:resultIN' %}" method="">
        <div class="container my-3">
            <table class="table">
                <thead>
                    <tr class="thead-dark">
                        <th>index</th><th>카테고리</th><th>제목</th>출판사<th>isbn</th>
                    </tr>
                </thead>
                <tbody>
                {% for information in informations %}
                <tr>
                    <td>{{ information.index }}</td>
                    <td>{{ information.category }}</td>
                    <td>{{ information.context }}</td>
                    <td>{{ information.publisher }}</td>
                    <td>{{ information.isbn  }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock result %}