{% extends "home/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

{% block result %}
    <form action="{% url 'home:resultLSA' %}" method="">
        <div class="container my-3">
            <table class="table">
                <thead>
                    <tr class="thead-dark">
                        <th>index</th><th>종류</th><th>ebook</th><th>저자</th><th>가격</th>
                    </tr>
                </thead>
                <tbody>
                {% for lib_s_a in libsas %}
                <tr>
                    <td>{{ lib_s_a.index }}</td>
                    <td>{{ lib_s_a.SUBJECT }}</td>
                    <td>{{ lib_s_a.ebook }}</td>
                    <td>{{ lib_s_a.author  }}</td>
                    <td>{{ lib_s_a.price  }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock result %}