{% extends "home/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% block result %}
    <form action="{% url 'home:resultBC' %}" method="">
        <div class="container my-3">
            <table class="table">
                <thead>
                    <tr class="thead-dark">
                        <th>index</th><th>가격</th><th>할인가</th><th>사이트</th>
                    </tr>
                </thead>
                <tbody>
                {% for buyc in buycs %}
                <tr>
                    <td>{{ buyc.index }}</td>
                    <td>{{ buyc.price }}</td>
                    <td>{{ buyc.sales }}</td>
                    <td>{{ buyc.portal  }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock result %}     